<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <!-- Define a handler for Node.js applications -->
      <add name="Node.js" path="build/server.js" verb="*" modules="NodeJsModule" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="StaticContent" stopProcessing="true">
          <!-- Match all URLs -->
          <match url=".*" />
          <conditions>
            <!-- If the request is not for an existing file -->
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <!-- If the request is not for an existing directory -->
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="build/server.js" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
